body {
  overflow: hidden !important;
  background: #f7f7f7 !important;
}

#nprogress .bar {
  background: #fff !important;
}

#nprogress .peg {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.todos-null {
  margin-top: 4.347826087rem;
  text-align: center;
}
.todos-null .icon-todos-null {
  width: 4.8309178744rem;
  margin: 0 auto;
  text-align: center;
}
.todos-null .icon-todos-null img {
  width: 2.0531400966rem;
  margin: 0 auto;
}
.todos-null div.desc {
  font-size: 0.3381642512rem;
  color: #666666;
  text-align: center;
  margin-top: 0.5555555556rem;
}

.todos-nomore, .noMore-Data {
  font-size: 0.38647343rem;
  color: #999999;
  text-align: center;
  margin-top: 0.4830917874rem;
}

#todos-container {
  width: 100%;
}

.todos-list-loadmore {
  width: 100%;
}

.loading-bounce-w {
  margin-top: 0.4830917874rem;
  width: 100%;
}
.loading-bounce-w .loading-bounce-bg {
  display: none;
}
.loading-bounce-w .loading-gif {
  width: 2.270531401rem;
  height: 2.2946859903rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.loading-bounce-w .loading-gif img {
  width: 2.270531401rem;
  height: 2.2946859903rem;
}

.loading-bounce-w.fix {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2222222;
  margin-top: 0;
}
.loading-bounce-w.fix .loading-bounce-bg {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: #f7f7f7;
}
.loading-bounce-w.fix .loading-gif {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -1.1473429952rem;
  margin-left: -1.1352657005rem;
}

.loading-bounce-w.specail {
  margin-top: 1.9323671498rem;
}

.todos-loading {
  width: 2.270531401rem;
  display: block;
  margin: 0 auto;
  margin-top: 3.6231884058rem;
  text-align: center;
}
.todos-loading img {
  width: 2.270531401rem;
  height: 2.2946859903rem;
}
.todos-loading span {
  display: block;
  margin-top: 0.3623188406rem;
  font-size: 0.3381642512rem;
  color: #999999;
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  padding: 0 0 0 0.4830917874rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .header-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #077655;
}
.header .header-bg-2.todos-header {
  top: 2.1739130435rem;
}
.header .header-bg-2 {
  position: absolute;
  top: 2.1739130435rem;
  right: 0;
  left: 0;
  height: 1.8115942029rem;
  background: url(../../images/bj.png) no-repeat;
  background-size: cover;
}
.header.todos-header .header-bg {
  min-height: 2.4154589372rem;
}
.header .header-bg-specail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #077655;
}
.header .header-bg-specail .header-bg-2 {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 1.8115942029rem;
  background: url(../../images/bj.png) no-repeat;
  background-size: cover;
}
.header .header-c {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 0.4830917874rem;
}

.header.specail .header-c {
  height: 0.4830917874rem;
  min-height: 0.4830917874rem;
}
.header.specail .header-bg-2 {
  top: 0.4830917874rem;
}

.main .main-c.device-c {
  margin-bottom: 120px;
}

.main {
  position: relative;
  z-index: 4;
}
.main .main-c {
  position: relative;
  padding: 0 0.4830917874rem 0.4830917874rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.main .main-c.clear-scroll {
  overflow: hidden;
}

.clear-padding {
  padding: 0 !important;
}

.clear-margin {
  margin: 0 !important;
}

.hide-scroll {
  overflow: inherit !important;
}

.todos-search {
  position: relative;
  z-index: 2;
  margin: 0 0.4830917874rem;
  padding-top: 0.6280193237rem;
  padding-bottom: 0.4830917874rem;
}
.todos-search .todos-search-w {
  height: 1.2077294686rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.3);
          box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.3);
  border-radius: 0.193236715rem;
  overflow: hidden;
}
.todos-search i.icon-input-search {
  float: left;
  margin-top: 0.4106280193rem;
  margin-left: 0.4830917874rem;
  cursor: pointer;
}
.todos-search i.icon-input-remove {
  float: right;
  margin-top: 0.4589371981rem;
  margin-right: 0.4830917874rem;
  cursor: pointer;
}
.todos-search .am-list-item {
  margin-top: 0.2415458937rem;
  height: 0.7246376812rem;
  line-height: 0.7246376812rem;
  margin-left: 1.0869565217rem;
  margin-right: 1.0869565217rem;
}
.todos-search .am-list-item input {
  width: 100%;
  height: 0.7246376812rem;
  line-height: 0.7246376812rem;
  border: none;
}

.todo-item-view {
  margin: 0.3623188406rem 0 0;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
          box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
  border-radius: 0.193236715rem;
}
.todo-item-view .todo-item-view-c {
  padding: 0.4830917874rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-title {
  height: 0.5314009662rem;
  line-height: 0.5314009662rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-title .todo-item-view-name {
  font-size: 0.38647343rem;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  margin-right: 2.1739130435rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-title .todo-item-view-date {
  float: right;
  font-size: 0.2898550725rem;
  color: #999999;
  text-align: left;
}
.todo-item-view .todo-item-view-c .todo-item-view-info {
  margin-top: 0.193236715rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i {
  height: 0.5314009662rem;
  line-height: 0.5314009662rem;
  display: inline-block;
  margin-left: 0.7246376812rem;
  color: #999999;
  font-size: 0.3381642512rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i i {
  vertical-align: top;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i .icon-todo-people {
  margin-top: 0.0966183575rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i .icon-todo-type {
  margin-top: 0.1207729469rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i span {
  margin-left: 0.1207729469rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-info .todo-item-view-info-i:first-child {
  margin-left: 0;
}
.todo-item-view .todo-item-view-c .todo-item-view-tag {
  margin-top: 0.193236715rem;
}
.todo-item-view .todo-item-view-c .todo-item-view-tag .todo-item-view-tag-i {
  display: inline-block;
  background: #ffd600;
  border-radius: 0.4830917874rem;
  min-width: 1.5700483092rem;
  height: 0.4830917874rem;
  line-height: 0.4830917874rem;
  padding: 0 0.4830917874rem;
  font-size: 0.2898550725rem;
  color: #ffffff;
  letter-spacing: 0;
  max-width: 7.2463768116rem;
}

.todo-item-view:first-child {
  margin-top: 0;
}

.user-card {
  margin-top: 0.38647343rem;
}
.user-card .user-card-c .user-card-avatar {
  float: left;
  width: 1.3285024155rem;
  height: 1.3285024155rem;
  border-radius: 1.3285024155rem;
  overflow: hidden;
}
.user-card .user-card-c .user-card-avatar img {
  width: 1.3285024155rem;
  height: 1.3285024155rem;
}
.user-card .user-card-c .user-card-info {
  display: block;
  margin-left: 1.7632850242rem;
  color: #fff;
  overflow: hidden;
}
.user-card .user-card-c .user-card-info .user-card-info-i {
  clear: both;
  /*height:pxTorem(22);
  line-height: pxTorem(22);*/
  margin-top: 0.1207729469rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i dt {
  float: left;
  height: 0.5314009662rem;
  line-height: 0.5314009662rem;
  margin-top: -1px;
  width: 2.1739130435rem;
  font-size: 0.3381642512rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i dt label {
  font-weight: normal;
}
.user-card .user-card-c .user-card-info .user-card-info-i dd {
  margin-left: 2.2222222222rem;
  font-size: 0.38647343rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i .user-card-label {
  display: inline-block;
  width: 1.9323671498rem;
  font-size: 0.3381642512rem;
  line-height: 0.4830917874rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i .user-card-val {
  display: inline-block;
  font-size: 0.3623188406rem;
  line-height: 0.4830917874rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i .user-card-val.ellipsis {
  vertical-align: middle;
  line-height: 0.4830917874rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i .user-card-time {
  display: inline-block;
  margin-left: 0.2415458937rem;
  background: #fff;
  opacity: 0.6;
  color: #077655;
  font-size: 0.3140096618rem;
  padding: 0 0.2415458937rem;
  border-radius: 0.5314009662rem;
}
.user-card .user-card-c .user-card-info .user-card-info-i:first-child {
  margin-top: 0rem;
}
.user-card .user-card-c .user-card-info .user-card-info-btns {
  clear: both;
  margin-top: 0.193236715rem;
  font-size: 0.3140096618rem;
}
.user-card .user-card-c .user-card-info .user-card-info-btns .user-card-info-btn {
  position: relative;
  display: inline-block;
  margin-left: 0.2415458937rem;
}
.user-card .user-card-c .user-card-info .user-card-info-btns .user-card-info-btn .user-card-info-btn-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0.5;
  border-radius: 0.5314009662rem;
}
.user-card .user-card-c .user-card-info .user-card-info-btns .user-card-info-btn .user-card-info-btn-val {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 2;
  height: 0.5314009662rem;
  padding: 0 0.2415458937rem;
  min-width: 1.690821256rem;
  line-height: 0.5314009662rem;
  color: #077655;
}
.user-card .user-card-c .user-card-info .user-card-info-btns .user-card-info-btn:first-child {
  margin-left: 0;
}

.info-list {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
          box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
  border-radius: 0 0 0.193236715rem 0.193236715rem;
  overflow: hidden;
}

.info-list-speacail {
  background: #fff;
  border-radius: 0.193236715rem 0.193236715rem 0 0;
  margin: 0 0.4830917874rem;
  overflow: hidden;
}

.info-list-h {
  margin: 0.3623188406rem 0.5314009662rem 0;
  height: 0.5314009662rem;
  line-height: 0.5314009662rem;
}
.info-list-h i {
  float: left;
  width: 0.4830917874rem;
  height: 0.4830917874rem;
  margin-top: 0.0241545894rem;
  background: url(../../images/money-title.png) no-repeat;
  vertical-align: top;
  background-size: cover;
}
.info-list-h span {
  float: left;
  margin-left: 0.2415458937rem;
}

.info-list-title {
  margin-top: 0.1207729469rem;
  height: 0.9661835749rem;
  line-height: 0.9661835749rem;
  color: #B0B0B0;
  font-size: 0.3140096618rem;
}

.info-list-main .info-list-i {
  height: 0.9661835749rem;
  line-height: 0.9661835749rem;
  color: #494949;
  font-size: 0.3381642512rem;
  overflow: hidden;
}
.info-list-main .info-list-i.specail-empty {
  height: 2.4154589372rem;
  line-height: 2.4154589372rem;
  border: none;
}
.info-list-main .info-list-i:first-child {
  border-top: 0;
}

.info-list-year {
  float: left;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.info-list-type {
  float: left;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.info-list-money {
  float: left;
  display: inline-block;
  width: 33%;
  text-align: center;
}

.money-info-detail {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  height: 1.4492753623rem;
}
.money-info-detail .money-info-detail-bg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #000000;
  opacity: 0.5;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.money-info-detail .money-info-detail-info {
  display: none;
  position: fixed;
  bottom: 1.4492753623rem;
  left: 0;
  right: 0;
  padding: 0.6280193237rem 0.4830917874rem;
  background: #fff;
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
  z-index: 5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.money-info-detail .money-info-detail-info .money-detail-info-i {
  height: 0.6280193237rem;
  line-height: 0.6280193237rem;
  color: #666666;
  margin-top: 0.3140096618rem;
}
.money-info-detail .money-info-detail-info .money-detail-info-i span {
  float: right;
  font-size: 0.5314009662rem;
  letter-spacing: 0;
}
.money-info-detail .money-info-detail-info .money-detail-info-i span:first-child {
  float: left;
  font-size: 0.3381642512rem;
}
.money-info-detail .money-info-detail-info .money-detail-info-i:first-child {
  margin-top: 0;
}
.money-info-detail .money-info-detail-summary {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  height: 1.4492753623rem;
  padding: 0 0.4830917874rem;
  background: #fff;
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
}
.money-info-detail .money-info-detail-summary .money-info-opear {
  float: right;
  margin-top: 0.6400966184rem;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.money-info-detail .money-info-detail-summary .money-info-number {
  float: right;
  margin-right: 0.2415458937rem;
  line-height: 1.4492753623rem;
  color: #077655;
  font-size: 0.6280193237rem;
}
.money-info-detail .money-info-detail-summary .money-info-summary-label {
  float: left;
  color: #333333;
  font-size: 0.38647343rem;
  line-height: 1.4492753623rem;
}

.money-info-detail.active {
  top: 0;
}
.money-info-detail.active .money-info-detail-bg {
  display: block;
}
.money-info-detail.active .money-info-detail-info {
  display: block;
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.04);
}
.money-info-detail.active .money-info-detail-summary {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.money-info-container .header-c {
  height: 0.6280193237rem;
}

.money-info {
  background: #fff;
  -webkit-box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
          box-shadow: 0 0 0.2415458937rem 0 rgba(129, 129, 129, 0.12);
  border-radius: 0.193236715rem;
}
.money-info .money-info-c {
  padding: 0.3623188406rem;
}
.money-info .money-info-c .money-info-i {
  margin-top: 0.3623188406rem;
}
.money-info .money-info-c .money-info-i .money-info-label {
  height: 0.4830917874rem;
  line-height: 0.4830917874rem;
  color: #999999;
  font-size: 0.3381642512rem;
}
.money-info .money-info-c .money-info-i .money-info-val {
  margin-top: 0.1207729469rem;
  height: 0.5314009662rem;
  line-height: 0.5314009662rem;
  color: #494949;
  font-size: 0.38647343rem;
}
.money-info .money-info-c .money-info-i:first-child {
  margin-top: 0;
}
