.icon-input-search {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem -1.9444444444444444rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.3743961352657005rem;
  height: 0.3864734299516908rem;
}

.icon-money-opear-active {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem 0.012077294685990338rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.2536231884057971rem;
  height: 0.1932367149758454rem;
}

.icon-money-opear {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.39855072463768115rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.2536231884057971rem;
  height: 0.1932367149758454rem;
}

.icon-money-title {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem -2.5483091787439616rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.4951690821256039rem;
  height: 0.5072463768115942rem;
}

.icon-todo-people {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem -1.3647342995169083rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.3502415458937198rem;
  height: 0.36231884057971014rem;
}

.icon-todo-type {
  display: inline-block;
  background-image: url(../images/sprite.png);
  background-position: 0rem -0.8091787439613527rem;
  background-size: 0.48309178743961356rem;
  background-repeat: no-repeat;
  width: 0.32608695652173914rem;
  height: 0.33816425120772947rem;
}
